/* FORCE readable inputs everywhere */

input,
textarea,
select {
  background: #ffffff !important;
  color: #111827 !important;
  border: 1px solid #cfd8e3 !important;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af !important;
}

/* Safari fix */
input,
textarea {
  -webkit-text-fill-color: #111827 !important;
}

/* dropdown options */
select option {
  color: #111827;
  background: #ffffff;
}